.Container {
  border-radius: 6px;
}

.Header {
  margin-bottom: 8px;
}

.Title {
  margin-bottom: 0 !important;
}

.Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
