.Card {
  border-radius: 6px;
}

.CardBody {
  padding: 0;
}

.Content {
  padding: 12px;
}

.Details {
  margin-top: 6px;
  margin-bottom: 12px;
}

.DetailsItem {
  display: flex;
  align-items: center;
  margin-top: 7px;
  line-height: 1.4em;
}

.DetailsIcon {
  display: flex;
  align-items: center;
  width: 23px;
  min-width: 23px;
}

.Actions {
  text-align: right;
  padding-right: 18px;
}
