.HomeQuickLink {
  border-radius: 12px;
  margin-bottom: 8px;
}

.HomeDescription {
  margin: 0 auto !important;
}

@media (min-width: 768px) {
  .HomeDescription {
    text-align: center;
    margin: 8px auto !important;
  }
}
