.Logo {
  margin-top: -2px;
}

.LogoDivider {
  margin-top: 16px;
  margin-bottom: 6px;
}

.HomeDescription {
  margin-top: 18px;
  text-align: center;
}

.HomeQuickLink {
  border-radius: 12px;
  height: 100%;
}

/* up to md */
@media screen and (max-width: 768px) {
  .Logo {
    margin-top: 12px;
  }

  .LogoDivider {
    margin-top: 10px;
  }

  .HomeDescription {
    text-align: left;
  }
}
