.PageContainer {
  height: 100%;

  display: flex;
  flex-flow: column;

  padding: 28px;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .PageContainer {
    padding: 14px;
    padding-bottom: 0;
  }
}
