.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  min-height: 56px;
  padding-right: 24px;
}

.Actions {
  display: flex;
  align-items: center;
}

.SwitchIcon {
  display: flex;
  align-items: center;
}

.SignOutButton {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .Header {
    padding-right: 14px;
    padding-left: 7px;
    height: 48px;
    min-height: 48px;
  }
}
