.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  min-height: 56px;
  padding-right: 24px;
}

.Avatar {
  margin-right: 10px !important;
}

.Username {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.Actions {
  display: flex;
  align-items: center;
}

.SwitchIcon {
  display: flex;
  align-items: center;
}

.SignOutButton {
  margin-left: 6px;
}

@media (max-width: 768px) {
  .Header {
    padding-right: 7px;
    padding-left: 7px;
    height: 48px;
    min-height: 48px;
  }

  .Avatar {
    margin-right: 6px !important;
  }

  .SignOutButton {
    margin-left: 4px;
  }
}
