.MarginCol {
  margin-bottom: 0;
}

.DataLabel {
  display: block;
  margin-bottom: 8px;
}

.Timeline {
  margin-top: 7px;
}

.TimelineTimestamp {
  margin-left: 16px;
}

/* up to md */
@media screen and (max-width: 768px) {
  .MarginCol {
    margin-bottom: 22px;
  }

  .DataLabel {
    margin-bottom: 6px;
  }

  .Timeline {
    margin-top: 8px;
  }
}
